html(lang="en")
	head
		meta(charset="utf-8")
		link(href='css/main.css'
		rel='stylesheet')
		title= "Assassin's Creed"
	body
		h1 Assassin's Creed
		h2 Всё о вселенной наёмных убийц
		ol Порядок чтения книг можно условно разделить на два возможных сценария:
			li Это чтение книг только по основным частям игр – иными словами расширить свои познания по основному лору;
			li Это чтение всех книг, которые так или иначе, но связаны с основным лором.
		p.
			В первом случае список ограничится 11 книгами, который на данный момент выпущены на русском языке.
			Во втором сценарии список расширится ещё 5 книгами, что доведёт общее количество до 16 штук.
			Именно на втором сценарии мы и предлагаем Вам остановиться, всё-таки в этих 5 книгах определённо есть что почерпнуть.
		
		p В каком порядке читать?
		p.
			Порядок определён не датой выхода книг и временной линии, а именно структурой лора. 
			Если играть, например, с AC Одиссеи, а потом перейти к «Истокам» и «Вальгалле», то многие события останутся в стороне, 
			так как лор строится не только на временной линии прошлого.
		h3 Assassin’s Creed «Тайный крестовый поход»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p. 
					Книга «Assassin’s Creed: Тайный крестовый поход» несмотря на то, что стала 3 по счёту романом, вышедшим из-под пера 
					талантливого писателя Оливера Боудена, в рамках лора стоит поставить на первое место в порядке чтения.
				p.
					События книги охватывают жизнь ассасина Альтаира ибн Ла-Ахада от юности и практически до его последних дней. 
					На страницах романа можно будет посмотреть на Альтаира с иной точки зрения, нежели он предстал перед нами в 2007 году 
					в первой части игры Assassin’s Creed. Здесь мы увидим его и в качестве нахального юнца,и напыщенного убийцы, который 
					готов убивать без разбору, и переживём ужасающие личные переживания и возрождение Ордена Ассасинов…
		
		h3 Assassin’s Creed «Ренессанс»
		div.grid-cont
			div: img.image(src="img/img2.jpg" alt="Изображение")
			div
				p Первая книга в серии, вышедшая в 2009 году вместе с Assassin’s Creed II, добралась до России только в 2016 году.
				p.
					События книги «Ренессанс» перенесут нас к истории самого любимого ассасина всех времён и народов (для многих) 
					— Эцио Аудиторе да Фиренце.
		
		h3 Assassin’s Creed «Братство»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p.
					В своём время игра «Assassin’s Creed: Братство крови» произвела настоящий фурор, влюбив себя миллионы любителей видеоигр 
					со всего мира, став одной из самых высоко оценённых игр всей серии.
				p Книга «AC: Братство» продолжает историю Эцио и его борьбы с орденом тамплиеров…
		
		h3 Assassin’s Creed «Откровения»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги "Assassin's Creed Откровения" 
				p.
					Если вы посмотрите на нашу интерактивную схему, то найдёте связь между этой книгой «Откровения» и первым романом в порядке 
					чтения «Тайный Крестовый Поход».
					Дело в том (это не должно стать спойлером), что события книги «Тайный крестовый поход» заканчиваются практически на том месте,
					где начинается путешествие Эцио в Константинополь, являющейся основной темой игры «AC: Revelations».
				p Именно этой книгой во многом и заканчивается полувековая история легендарного ассасина — Эцио Аудиторе да Фиренце.

		h3 Assassin’s Creed «Отверженный»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги "Assassin's Creed Отверженный"
				p.
					Игра «Assassin’s Creed III» стала первым переходным звеном в серии, где каждая новая часть знакомила нас с новым антагонистом.
					Книга «Отверженный» выступает в роли дневника Хэйтема Кенуэя, тамплиера и отца Конора Кенуэя. Конор читает дневник, где его 
					отец описывает не только своё становления в качестве члена «Ордена Тамплиеров», но и рассматривает события игры с точки зрения
					тамплиера.

		h3 Assassin’s Creed «Чёрный Флаг»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Чёрный Флаг»
				p.
					«Assassin’s Creed: Black Flag» была признана одной из лучших игр в пиратском сеттинге и стала любимой для многих фанатов 
					франшизы.
				p Одноимённая книга прекрасно дополняет известные по игре события.

		h3 Assassin’s Creed «Единство»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Единство»
				p.
					Один из центральных персонажей игры «AC: Unity» — Элиза де ла Серр, укравшая столько сердец фанатов, ведёт дневник, 
					где описывает своё видение событий, произошедших во Франции, которую затопили кровавые реки революции.
				p Интересный и необычный взгляд от члена «Ордена Тамплиера» и иное видение действий Арно Дориана.

		h3 Assassin’s Creed «Преисподняя»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Преисподняя»
				p.
					События данной книги разворачиваются до игры «AC: Синдикат» (за 6 лет), раскрывая перед нами страницы истории ассасина 
					Генри Грине или же Джайдипе Мире и Итане Фрайе, отца известным нам близнецов Иви и Джейкоба Фрай.

		h3 Assassin’s Creed трилогия «Последние потомки»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложки трилогии книг Assassin’s Creed трилогия «Последние потомки»
				p.
					Это первые книги в нашем списке, которые не имеют прямой зависимости от основных частей игр серии, но косвенно связаны 
					с ними и их персонажами.

		h3 Assassin’s Creed «Ересь»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Ересь»
				p.
					Роман известного писателя Кристи Голдена перенесёт нас в средневековую францию первой половины XV века, во времена, 
					когда свои великие деяния вершила легендарная Жанны д’Арк. На все события в книги мы смотрим глазами тамплиера Саймона Хэтэуэя,
					а активное участие принимает известная по играм «Истоки» и «Одиссея» — психолог Виктория Бибо.

		h3 Assassin’s Creed «Кредо Убийцы»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Кредо Убийцы»
				p.
					Это официальная новеллизация фильма «Кредо Убийцы» про испанского ассасина Агиларе де Нерха, роль которого исполнил Майкл 
					Фассбендер.
				p.
					Книга немного расширяет фильм разделом «Регрессия» и рассказывает также историю и других ассасинов — Нейтане, Эмире, 
					Муссе и Лин.

		h3 Assassin’s Creed «Клятва Пустыни»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Клятва Пустыни»
				p.
					«Клятва Пустыни» — это крайний роман безмерно талантливого Оливера Боудена (кстати это его псевдоним) вышедший на 
					сегодняшний день в рамках вселенной Assassin’s Creed. Сюжет книги является приквелом к игре «AC: Истоки» и рассказывает 
					историю 70 г. до н.э., о юном Байеке и зарождение кровавого противоборства, растянувшегося впоследствии на тысячелетия…

		h3 Assassin’s Creed «Одиссея»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Одиссея»
				p.
					«AC: Одиссея» стала одной из самых красивых игр последних лет, перенеся сеттинг серии в Древнюю Грецию, в роль молодой 
					спартанке Кассандры (или Алексиоса, если играли за мужского персонажа).
				p Роман молодого автора Гордона Догерти имеет простую форму и лёгкий для чтения язык.

		h3 Assassin’s Creed «Сага о Гейрмунне»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка книги Assassin’s Creed «Сага о Гейрмунне»
				p.
					События романа «Сага о Гейрмунне» по большей части развивается параллельно с основным сюжетом игры «AC Valhalla» и 
					позволяет взглянуть на те события, связанные с противоборством между Альфредом и Гутрумом с иной точки зрения. 
					Кроме того, история о Гейрмунне и его стремлениях, позволила нам понять некоторые мотивы героев, встреченных нами в Англии.

		h3 Assassin’s Creed «Меч Белой Лошади»
		div.grid-cont
			div: img.image(src="img/img1.jpg" alt="Изображение")
			div
				p Обложка Assassin’s Creed «Меч Белой Лошади»
				p.
					«Меч Белой Лошади» (Sword of the White Horse) — это недавно анонсированная новелла за авторством Эльзы Сьюннесон 
					(Elsa Sjunneson), которая вышла на языке оригинале в апреле 2022 года в издательстве Aconyte Books.
				p.
					Данная книга должна стать очень важным звеном в расширяющимся лоре игры «AC Valhalla», так как события (если основываться 
					на аннотации) будут тесно связаны с «Незримыми», что только радует!
				p.
					«Мерсия, 878 год. Кельтская воительница Нив обнаруживает, что новый орден под названием Незримые стремится укрепиться в 
					Люндене. Его земля уже истерзана набегами викингов, кровавыми войнами и столкновением разных культур. Решив защитить то, 
					что осталось от её родины, она проникает в эту новую секту, чтобы узнать, будут ли они за неё… или против.
				p.
					Но когда Нив узнаёт, что Незримые похитили артефакт, священный для её народа, то её собственная верность оказывается под 
					вопросом. Отвергнув новообретённые союзы и дружбу, Нив вскоре обнаруживает, что предательство имеет высокую цену, и ей 
					потребуется всё, что в её силах, чтобы выжить»

		h3 Заключение
		p.
			В данном материале речь шла только о книгах, но в лоре «Assassin’s Creed» присутствует ещё несколько десятков комиксов, 
			которые ещё больше расширяют вселенную, в том числе и историю игры «AC Valhalla».

		h4 Спасибо за внимание!

