@charset "UTF-8";
.head-grid {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

footer {
  background-color: #b8b8b8;
  text-align: center;
  margin: 0;
  padding: 0;
  color: black;
}

.grid-footer {
  margin: 0px;
  padding-top: 20px;
  display: grid;
  grid-template: 1fr 1fr;
  grid-gap: 20px;
}

#top {
  text-align: right;
  position: fixed; /*двигается вместе с экраном*/
  opacity: 0;
  transition: all 0.5s ease-in;
}

html {
  scroll-behavior: smooth; /*плавная прокрутка страницы при нажатии на "вверх"*/
}

body {
  background-image: url(../img/imgFon.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: Arial;
  text-align: justify;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  text-indent: 30px;
}

@media screen and (min-width: 768px) {
  body, .btn, #list {
    font-size: 18px;
  }
  .head-grid {
    width: 500px;
  }
  #ACSign {
    width: 230px;
    height: auto;
  }
  .feature {
    padding: 20px 10px;
    font-size: 25px;
  }
  .grid-cont {
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }
  .image {
    width: 100%;
    height: auto;
  }
  #top {
    top: 10px;
    right: 20px;
  }
  .sign {
    width: 50px;
    height: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body, .btn, #list {
    font-size: 18px;
  }
  .head-grid {
    width: 300px;
  }
  #ACSign {
    width: 130px;
    height: auto;
  }
  .feature {
    padding: 20px 10px;
    font-size: 25px;
  }
  .grid-cont {
    grid-row-gap: 5px;
    justify-items: center;
  }
  .image {
    height: 350px;
    width: auto;
  }
  #top {
    top: 10px; /*от верхнего угла*/
    right: 20px; /*от правого угла*/
  }
  .sign {
    width: 30px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  body, .btn, #list {
    font-size: 10px;
  }
  .head-grid {
    width: 150px;
  }
  .feature {
    padding: 10px 5px;
    font-size: 10px;
  }
  #ACSign {
    width: 65px;
    height: auto;
  }
  .grid-cont {
    grid-row-gap: 5px;
    justify-items: center;
  }
  .image {
    height: 200px;
    width: auto;
  }
  #top {
    top: 5px;
    right: 10px;
  }
  .sign {
    width: 20px;
    height: auto;
  }
}
@media screen and (max-width: 319px) {
  body, .btn, #list {
    font-size: 7px;
  }
}
.main {
  margin: 0 13%;
  padding: 2% 3%;
  border: solid #b8b8b8 4px;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.list_wrap {
  display: grid;
  justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.btn:hover {
  color: #4664c8;
}

#list {
  color: white;
  height: 0px;
  overflow: hidden;
  border: solid 2px #b8b8b8;
  border-radius: 15px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: transparent;
  transition-duration: 1s;
}
#list a {
  display: block;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#list a:hover {
  text-decoration: none;
  color: #4664c8;
}

.grid-cont {
  display: grid;
  margin: 10px 0px;
}

#image {
  box-shadow: 0 0 15px 8px #284678;
}
#image:hover {
  cursor: pointer;
}

#less, #hideText {
  display: none;
}

#less, #more {
  cursor: pointer;
  color: #4664c8;
}