@import '_colors';
@import '_mixins';

.head-grid{
    display: grid;
    margin: auto; //чтобы блок посередине был
    justify-content: center;
    align-items: center; //вертикально посередине
    grid-template-columns: 1fr 1fr;
}



